camel-quarkus-order-processor-api/src/main/resources/wsdl/soapresource.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://com.mycompany.app.resource/SoapResource" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SoapResourceService" targetNamespace="http://com.mycompany.app.resource/SoapResource">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://gmagnotta.org/CommonTypes" targetNamespace="http://gmagnotta.org/CommonTypes" version="1.0">

  <xs:complexType name="topElements">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="element" nillable="true" type="tns:element"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="element">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="value" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="order">
    <xs:sequence>
      <xs:element name="creationDate" type="xs:dateTime"/>
      <xs:element name="externalOrderId" type="xs:string"/>
      <xs:element maxOccurs="unbounded" name="lineItem" type="tns:lineItem"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lineItem">
    <xs:sequence>
      <xs:element name="itemId" type="xs:int"/>
      <xs:element name="quantity" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://com.mycompany.app.resource/SoapResource" xmlns:ns1="http://gmagnotta.org/CommonTypes" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.mycompany.app.resource/SoapResource" version="1.0">
  <xs:import namespace="http://gmagnotta.org/CommonTypes"/>
  <xs:element name="createOrder" type="tns:createOrder"/>
  <xs:element name="createOrderResponse" type="tns:createOrderResponse"/>
  <xs:element name="getItems" type="tns:getItems"/>
  <xs:element name="getItemsResponse" type="tns:getItemsResponse"/>
  <xs:element name="getTopItems" type="tns:getTopItems"/>
  <xs:element name="getTopItemsResponse" type="tns:getTopItemsResponse"/>
  <xs:element name="getTopOrders" type="tns:getTopOrders"/>
  <xs:element name="getTopOrdersResponse" type="tns:getTopOrdersResponse"/>
  <xs:complexType name="getItems">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getItemsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:item"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="item">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="price" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTopItems">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getTopItemsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:topElements"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="ns1:order"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createOrderResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getTopOrders">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getTopOrdersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:topElements"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTopOrdersResponse">
    <wsdl:part element="tns:getTopOrdersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getItems">
    <wsdl:part element="tns:getItems" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTopItems">
    <wsdl:part element="tns:getTopItems" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getItemsResponse">
    <wsdl:part element="tns:getItemsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createOrder">
    <wsdl:part element="tns:createOrder" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createOrderResponse">
    <wsdl:part element="tns:createOrderResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTopItemsResponse">
    <wsdl:part element="tns:getTopItemsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTopOrders">
    <wsdl:part element="tns:getTopOrders" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SoapResource">
    <wsdl:operation name="getItems">
      <wsdl:input message="tns:getItems" name="getItems">
    </wsdl:input>
      <wsdl:output message="tns:getItemsResponse" name="getItemsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTopItems">
      <wsdl:input message="tns:getTopItems" name="getTopItems">
    </wsdl:input>
      <wsdl:output message="tns:getTopItemsResponse" name="getTopItemsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createOrder">
      <wsdl:input message="tns:createOrder" name="createOrder">
    </wsdl:input>
      <wsdl:output message="tns:createOrderResponse" name="createOrderResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTopOrders">
      <wsdl:input message="tns:getTopOrders" name="getTopOrders">
    </wsdl:input>
      <wsdl:output message="tns:getTopOrdersResponse" name="getTopOrdersResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapResourceServiceSoapBinding" type="tns:SoapResource">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getItems">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getItems">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getItemsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTopItems">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTopItems">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTopItemsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createOrder">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createOrder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTopOrders">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTopOrders">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTopOrdersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoapResourceService">
    <wsdl:port binding="tns:SoapResourceServiceSoapBinding" name="SoapResourcePort">
      <soap:address location="http://localhost:8080/soap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>